/*----------------Основные стили-----------------*/
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bcg-color: #ffffff;
  --white-color: #ffffff;
}

body {
  background-color: var(--primary-bcg-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

/*------------------Шапка сайта----------------*/

.logo {
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo .header {
  color: #000000;
}

/* Меню навигации */
.nav-link {
  color: var(--title-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.nav-link.current {
  color: var(--accent-color);
}

/* Контакты */
.contacts-link {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/*------------Стили основного контента------------*/

.hero {
  background-color: #2f303a;
}

.hero-title {
  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  color: var(--title-text-color);
  background-color: #f5f4fa;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
}

.button:hover,
.button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.button.primary {
  color: var(--white-color);
  background-color: var(--accent-color);

  font-weight: 700;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
}

.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section-subtitle {
  color: var(--title-text-color);

  font-weight: 700;
}

.feature-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.team-mem-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
}

.project-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.project-link {
  text-decoration: none;
}

/*--------------- Подвал сайта ----------------------*/

footer {
  background-color: #2f303a;
}

.logo .footer {
  color: var(--white-color);
}

.address {
  color: var(--white-color);

  font-style: normal;
}

.contacts-link.footer {
  color: rgba(255, 255, 255, 0.6);

  font-weight: inherit;
  line-height: 1.71;
  letter-spacing: inherit;
}
